body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./Image/LandingPage.jpg");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: 100% 100%;
  left: 10px;
  padding-top: 10%;
  padding-left: 3%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
